{% extends "proj/proj.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="game--center">
        <a href="{{ path('proj/reset') }}">Reset</a>    
        <h2 class>Round: {{ pokerGame.getCurrentRound() }}</h2>
    </div>
    <section class="game-stats">
        <div class="game-stats__player">
            <h2>{{ pokerGame.getCurrentPlayer().getName() }}</h2>
            <p>Money: {{ pokerGame.getCurrentPlayer().getMoney() }}</p>
            <p>Current bet: {{ pokerGame.getCurrentBet() }}</p>
        </div>
        <div class="game-stats__player">
            <h2>Opponent</h2>
            <p>Money: {{ pokerGame.getCurrentOpponent().getMoney() }}</p>
            <p>Current bet: {{ pokerGame.getCurrentBet() }}</p>
            <p>Last action: <span id="last-action"></span></p>
        </div>
    </section>
    <section class="game--center">
        <div id="game-cards" class="game__cards">
            {% for card in pokerGame.getCurrentPlayer().getCards() %}
                <p
                    data-suit="{{ card.getSuit() }}"
                    data-value="{{ card.getValue() }}"
                    data-type="game-card"
                    class="game__card"
                >
                    {{ card.getUtf8Rep()|raw }}
                </p>
            {% endfor %}
        </div>
        {% if pokerGame.getIsChangeCardRound()  %}
            <div class="game__button-container">
                <a href="#" id="cards-submit">Change marked cards</a>
                <a href="{{ path('proj/game/done-change') }}" id="cards-submit">I'm happy with my cards</a>
            </div>
        {% else %}
            {% if (pokerGame.getIsShowDown()) %}
                <div class="game__button-container">
                    <a href="{{ path('proj/game/showdown') }}">Showdown</a>
                </div>
            {% elseif (pokerGame.getCurrentBet() > pokerGame.getCurrentPlayer().getMoney()) %}
                <div class="game__button-container">
                    <a href="{{ path('proj/game/fold') }}">Fold</a>
                </div>
            {% else %}
            <form action="{{ path('proj/game/raise') }}">
                <input type="number" name="bet" id="bet" placeholder="Raise amount">
                <input type="submit" value="Raise">
            </form>
                <div class="game__button-container">
                    {% if pokerGame.getCurrentRound() <= 1 and not pokerGame.getBetHasBeenMade() %}
                        <a href="{{ path('proj/game/check') }}">Check</a>
                    {% endif %}
                    <a href="{{ path('proj/game/fold') }}">Fold</a>
                    <a href="{{ path('proj/game/call') }}">Call</a>
                </div>
            {% endif %}
        {% endif %}
    </section>
     {{ dump(pokerGame) }}
{% endblock %}
