{% extends "proj/proj.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {# 
        If round 2: Be able to choose which cards to change (client side JS, endpoint for serving cards dynamically)
    #}
    <a href="{{ path('proj/reset') }}">Reset</a>
    <section class="game--center">
        <div id="game-cards" class="game__cards">
            {% for card in pokerGame.getCurrentPlayer().getCards() %}
                <p
                    data-suit="{{ card.getSuit() }}"
                    data-value="{{ card.getValue() }}"
                    data-type="game-card"
                    class="game__card"
                >
                    {{ card.getUtf8Rep()|raw }}
                </p>
            {% endfor %}
            <a href="#" id="cards-submit">Submit</a>
        </div>
        <form action="{{ path('proj/game/bet') }}">
            <input type="number" name="bet" id="bet" placeholder="Bet amount">
            <input type="submit" value="Bet">
        </form>
        {% if (pokerGame.getIsShowDown()) %}
            <div class="game__button-container">
                <a href="{{ path('proj/game/showdown') }}">Showdown</a>
            </div>
        {% elseif (pokerGame.getCurrentBet() > pokerGame.getCurrentPlayer().getMoney()) %}
            <div class="game__button-container">
                <a href="{{ path('proj/game/fold') }}">Fold</a>
            </div>
        {% else %}
            <div class="game__button-container">
                {% if pokerGame.getCurrentRound() <= 1 and not pokerGame.getBetHasBeenMade() %}
                    <a href="{{ path('proj/game/check') }}">Check</a>
                {% endif %}
                <a href="{{ path('proj/game/fold') }}">Fold</a>
                <a href="{{ path('proj/game/call') }}">Call</a>
            </div>
        {% endif %}
    </section>
     {{ dump(pokerGame) }}
{% endblock %}
